
.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;   
}
.movie-ranking{
    margin: 20px;
    padding: 20px;
    justify-content:center;
    
}

.birthday-invite{
    
    margin: 20px;
    padding: 20px;
    justify-content: center;
    grid-row: span 2;

}
.memeposter{
    margin: 20px;
    padding: 20px;
    float: inline-end;
    justify-content: center;
    
}
.tindog{
    margin: 20px ;
    padding: 20px;
    grid-row: span2;
    justify-content: center;
}

    